@model ChangePasswordViewModel

@{
    ViewData["Title"] = "تغیر رمز عبور";
}

<partial name="_partialBreadcrumb" />
<br />
<h1 class="text-center">تغیر رمز عبور</h1>
<br />
<h4 class="text-center">لطفا رمز عبور خودرا تغیر بدهید !</h4>
<br />
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="ChangePassword" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Email" type="hidden" />
            
            <div class="form-group form-floating theme-form-floating ">
                <input asp-for="OldPassword" type="password" class="form-control text-center Setfont" id="password" placeholder="Password" />
                <label asp-for="OldPassword" class="control-label"></label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group form-floating theme-form-floating ">
                <input asp-for="NewPassword" type="password" class="form-control text-center Setfont" id="password" placeholder="Password" />
                <label asp-for="NewPassword" class="control-label"></label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group form-floating theme-form-floating">
                <input asp-for="ReNewPassword" type="password" class="form-control text-center Setfont" id="password" placeholder="Password" />
                <label asp-for="ReNewPassword" class="control-label"></label>
                <span asp-validation-for="ReNewPassword" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold Setfont" type="submit">ذخیره</button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="text-center">
    <a asp-controller="Home" asp-action="Index">بازگشت</a>
</div>
<br />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

