@model RegisterViewModel

@{
    ViewData["Title"] = "موفقیت ثبت نام";
}

<h1 dir="ltr" class="text-center" style="color: #4CAF50; font-weight: bold; font-size: 2.5rem;">
    <i class="bi bi-check-circle-fill" style="color: #4CAF50; margin-right: 10px;"></i>
    ثبت نام با موفقیت انجام شد
</h1>
<br />
<hr />
<br />
<div class="alert alert-success" style="background-color: #e7f5e9; border-radius: 15px; padding: 30px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
    <h2 class="text-center" style="color: #388e3c; font-size: 1.8rem;">
        کاربر عزیز، <span style="color: #2e7d32;">@Model.UserName</span>
    </h2>
    <br/>
    <p class="text-center" style="font-size: 1.2rem;">
        ممنون از ثبت نام شما در وب سایت. می‌توانید از طریق لینک زیر وارد حساب کاربری خود شوید.
    </p>
    <div class="text-center mt-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-primary" style="padding: 10px 40px; font-size: 1.2rem; border-radius: 50px; transition: background-color 0.3s ease;">
            ورود به حساب کاربری
        </a>
    </div>
</div>
<br />

