



<li class="right-side">
    <div class="onhover-dropdown header-badge">
        <button type="button" class="btn p-0 position-relative header-wishlist">
            <i data-feather="shopping-cart"></i>
            <span id="CountShopCart" class="position-absolute top-0 start-100 translate-middle badge">
                <span class="visually-hidden">سبد خرید</span>
                0
            </span>
        </button>
    </div>
</li>



