
@{
    ViewData["Title"] = "سوالات متداول";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<!-- بخش سوالات متداول شروع -->
<section class="faq-contain">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slider-4-2 product-wrapper">
                    <div>
                        <div class="faq-top-box">
                            <div class="faq-box-icon">
                                <img src="../assets/images/inner-page/faq/start.png" class="blur-up lazyload"
                                     alt="">
                            </div>

                            <div class="faq-box-contain">
                                <h3>شروع کار</h3>
                                <p>استراتژی‌های برد-برد را به میز بیاورید تا از تسلط پیشگیرانه اطمینان حاصل کنید.</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="faq-top-box">
                            <div class="faq-box-icon">
                                <img src="../assets/images/inner-page/faq/help.png" class="blur-up lazyload" alt="">
                            </div>

                            <div class="faq-box-contain">
                                <h3>سوالات فروش</h3>
                                <p>لوریزل ایپسزل بوم شاکلاک بنشینید، پایین بیاید پایین بیاید.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="faq-top-box">
                            <div class="faq-box-icon">
                                <img src="../assets/images/inner-page/faq/price.png" class="blur-up lazyload"
                                     alt="">
                            </div>

                            <div class="faq-box-contain">
                                <h3>قیمت‌گذاری و برنامه‌ها</h3>
                                <p>کورابیتیزل فیزل گردن‌تان را بشکنید، یال کوئیز فو شیزل ماه نیزل فو ریزل.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="faq-top-box">
                            <div class="faq-box-icon">
                                <img src="../assets/images/inner-page/faq/contact.png" class="blur-up lazyload"
                                     alt="">
                            </div>

                            <div class="faq-box-contain">
                                <h3>تماس با پشتیبانی</h3>
                                <p>گیزل فو شیزل بوو وووو بیزل لئو بیبندیزل بررسی این.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- بخش سوالات متداول پایان -->
<!-- بخش سوالات متداول شروع -->
<section class="faq-box-contain section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="faq-contain">
                    <h2>سوالات متداول</h2>
                    <p>ما به سوالات پرتکرار پاسخ می‌دهیم. نگران نباشید اگر دقیقا سوال خود را پیدا نکردید. شما می‌توانید با جستجو یا ادامه دادن با کلیک بر روی دکمه زیر یا مستقیماً <a asp-action="ContactUs" asp-controller="Home" class="theme-color text-decoration-underline">با پشتیبانی ما تماس بگیرید.</a></p>
                </div>
            </div>

            <div class="col-xl-7">
                <div class="faq-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header Setfont" id="headingOne">
                                <button class="accordion-button Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                    ForceShop چیست و چرا نام آن تغییر کرد؟ <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show Setfont" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p Setfont>ForceShop پیشگام در تغییر چشم‌انداز بزرگ و نامنظم خرید مواد غذایی هند از طریق تکنولوژی و نوآوری‌های پیشرفته است. Blinkit بزرگترین و راحت‌ترین شرکت تحویل محلی در هند است که به شما این امکان را می‌دهد که مواد غذایی، میوه‌ها و سبزیجات، و سایر محصولات ضروری روزانه را به طور مستقیم از طریق موبایل یا مرورگر وب خود سفارش دهید.</p>
                                    <p Setfont>برای دانستن دلیل تغییر نام برند ما از Grofers به ForceShop، این <span class="fw-bold">پست وبلاگ</span> را مطالعه کنید.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header Setfont" id="headingTwo">
                                <button class="accordion-button collapsed Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                    چگونه ناخالصی‌های اکسید گرافن را حذف کنیم؟ <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>کشف، بررسی و درک توضیحات محصول. Maecenas ullamcorper eros libero، facilisis tempor mi dapibus vel. Sed ut felis ligula. Pellentesque vestibulum، tellus id euismod aliquet، justo velit tincidunt justo، nec pulvinar tortor elit vitae urna.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header Setfont" id="headingThree">
                                <button class="accordion-button collapsed Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                    تحویل چقدر طول می‌کشد؟ <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>کشف، بررسی و درک توضیحات محصول. Maecenas ullamcorper eros libero، facilisis tempor mi dapibus vel. Sed ut felis ligula. Pellentesque vestibulum، tellus id euismod aliquet، justo velit tincidunt justo، nec pulvinar tortor elit vitae urna.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                    چگونه کلید محصول ویندوز خود را پیدا کنم؟ <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>کلید محصول داخل بسته‌بندی محصول، در رسید یا صفحه تایید خرید دیجیتال یا در ایمیل تاییدی که نشان می‌دهد ویندوز را خریداری کرده‌اید، قرار دارد. اگر نسخه دیجیتال را از فروشگاه مایکروسافت خریداری کرده‌اید، می‌توانید کلید محصول خود را در حساب خود زیر محتوای دیجیتال پیدا کنید.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                                    من یک فایل ISO دانلود کرده‌ام، حالا چه کنم؟ <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>شما می‌توانید از فایل ISO برای ایجاد رسانه‌های قابل بوت برای نصب یا بازیابی استفاده کنید. همچنین می‌توانید ویندوز را روی دستگاه فعلی خود با باز کردن فایل ISO، انتخاب Setup و دنبال کردن دستورالعمل‌ها نصب کنید.</p>
                                    <p>برای ایجاد رسانه قابل بوت مانند درایو USB قابل بوت یا DVD، به نرم‌افزار سوخت‌گیری یا مانت کردن ISO نیاز خواهید داشت. توصیه می‌کنیم همیشه از یک USB یا DVD خالی استفاده کنید زیرا ممکن است محتوای آن‌ها هنگام ایجاد تصویر قابل بوت پاک شود.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                                    تفاوت بین نسخه‌های 32 بیتی و 64 بیتی ویندوز چیست؟ <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>اصطلاحات 32 بیتی و 64 بیتی به نحوه پردازش اطلاعات توسط پردازنده کامپیوتر (که به آن CPU نیز گفته می‌شود) اشاره دارند. نسخه 64 بیتی ویندوز به طور مؤثرتری مقادیر زیادی حافظه دسترسی تصادفی (RAM) را نسبت به سیستم 32 بیتی مدیریت می‌کند. همه دستگاه‌ها قادر به اجرای نسخه‌های 64 بیتی ویندوز نیستند.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven">
                                    پرسش‌نامه در مورد رفتار خرید آنلاین در دوران COVID-19 <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Fastkart پیشگام در تغییر چشم‌انداز بزرگ و نامنظم خرید مواد غذایی هند از طریق تکنولوژی و نوآوری‌های پیشرفته است. Blinkit بزرگترین و راحت‌ترین شرکت تحویل محلی در هند است که به شما این امکان را می‌دهد که مواد غذایی، میوه‌ها و سبزیجات، و سایر محصولات ضروری روزانه را به طور مستقیم از طریق موبایل یا مرورگر وب خود سفارش دهید.</p>
                                    <p>برای دانستن دلیل تغییر نام برند ما از Grofers به Fastkart، این <span class="fw-bold">پست وبلاگ</span> را مطالعه کنید.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight">
                                    چگونه می‌توانم توجه بیشتری از مشتریان جلب کنم؟ <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>انواع مختلفی از متون Lorem Ipsum موجود است، اما بیشتر آن‌ها در برخی از اشکال، با شوخی یا کلمات تصادفی که حتی کمی هم باورپذیر نیستند، تغییر یافته‌اند. اگر قصد دارید از یک متن Lorem Ipsum استفاده کنید، باید مطمئن شوید که در وسط متن چیزی شرم‌آور پنهان نشده باشد.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingNine">
                                <button class="accordion-button collapsed Setfont" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine">
                                    چگونه مشتریان خود را نگه دارم؟ <i class="fa-solid fa-angle-down"></i>
                                </button>
                            </h2>
                            <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>در اینجا چند نکته برای جذب مشتریان و نگه داشتن آنها آورده شده است:</p>
                                    <ul>
                                        <li>برقراری ارتباط مداوم با مشتریان و ایجاد اعتماد</li>
                                        <li>ارائه پیشنهادهای خاص برای تشویق به خرید</li>
                                        <li>تحلیل رفتار مشتریان و ارائه پیشنهادات شخصی‌سازی‌شده</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- بخش سوالات متداول پایان -->
