@{
    ViewData["Title"] = "راهنمای خرید";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
<div>
    <h1>راهنمای خرید</h1>
    <br />
    <br />
    <p>
        در این صفحه، راهنمایی‌هایی برای خرید از سایت ما به شما ارائه می‌دهیم. هدف ما این است که تجربه خرید شما ساده و لذت‌بخش باشد.
    </p>
    <h2>مراحل خرید</h2>
    <br />

    <p>
        برای خرید از سایت، ابتدا باید محصول مورد نظر خود را انتخاب کرده و آن را به سبد خرید اضافه کنید. پس از آن می‌توانید به صفحه پرداخت هدایت شوید تا فرآیند خرید تکمیل شود.
    </p>
    <br />
    <h2>روش‌های پرداخت</h2>
    <br />

    <p>
        سایت ما از روش‌های پرداخت مختلفی پشتیبانی می‌کند، از جمله کارت‌های بانکی، کیف پول الکترونیکی و روش‌های دیگر. انتخاب روش پرداخت متناسب با شرایط خود را انجام دهید.
    </p>
    <br />
    <h2>سیاست بازگشت کالا</h2>
    <br />

    <p>
        در صورت بروز هرگونه مشکل با محصول خریداری شده، می‌توانید آن را مطابق با سیاست‌های بازگشت کالا به سایت بازگردانید. برای اطلاع بیشتر، به صفحه "سیاست بازگشت کالا" مراجعه کنید.
    </p>
    <br />
    <h2>هزینه ارسال</h2>
    <br />

    <p>
        هزینه ارسال محصولات بستگی به مقصد و نوع ارسال دارد. شما می‌توانید هزینه ارسال را قبل از تکمیل خرید مشاهده کنید.
    </p>
    <br />
    <h2>پشتیبانی مشتریان</h2>
    <br />

    <p>
        در صورت داشتن هرگونه سوال یا مشکل در فرآیند خرید، تیم پشتیبانی ما آماده پاسخگویی به شماست. برای تماس با پشتیبانی، به صفحه "تماس با ما" مراجعه کنید.
    </p>
    <br />
    <h2>تغییرات در راهنمای خرید</h2>
    <br />

    <p>
        ممکن است این راهنما در آینده تغییر کند. هرگونه تغییرات در این صفحه به اطلاع شما خواهد رسید.
    </p>
</div>
</body>
<br />
<br />