
@{
    ViewData["Title"] = "حریم خصوصی";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
<div>
    <h1>حریم خصوصی</h1>
    <br />
    <br />
    <p>
        ما متعهد به حفظ حریم خصوصی شما هستیم و اطلاعات شما را با احترام کامل محافظت می‌کنیم. 
        این صفحه توضیحاتی را در مورد نحوه جمع‌آوری، استفاده و محافظت از اطلاعات شخصی شما ارائه می‌دهد.
    </p>
    <h2>جمع‌آوری اطلاعات</h2>
    <br />

    <p>
        هنگام بازدید از سایت، ممکن است اطلاعاتی مانند نام، ایمیل و سایر جزئیات تماس شما را جمع‌آوری کنیم. 
        این اطلاعات تنها برای بهبود تجربه کاربری و ارائه خدمات بهتر استفاده خواهد شد.
    </p>
    <br />
    <h2>استفاده از اطلاعات</h2>
    <br />

    <p>
        اطلاعات شما ممکن است برای ارسال اخبار، اطلاع‌رسانی‌ها و پیشنهادات ویژه استفاده شود. 
        ما هرگز اطلاعات شخصی شما را به اشخاص ثالث نخواهیم فروخت یا اجاره نخواهیم داد.
    </p>
    <br />
    <h2>حفاظت از اطلاعات</h2>
    <br />

    <p>
        ما از روش‌های امنیتی مناسب برای محافظت از اطلاعات شما در برابر دسترسی غیرمجاز، تغییر یا افشا استفاده می‌کنیم.
    </p>
    <br />
    <h2>تغییرات در سیاست حریم خصوصی</h2>
    <br />

    <p>
        ممکن است این سیاست در آینده تغییر کند. هرگونه تغییرات در این صفحه به اطلاع شما خواهد رسید.
    </p>
</div>
</body>
<br />
<br />



