@{
    ViewData["Title"] = "شرایط بازگشت کالا";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
<div>
    <h1>شرایط بازگشت کالا</h1>
    <br />
    <br />
    <p>
        در این صفحه، شرایط و ضوابط مربوط به بازگشت کالا را برای شما توضیح می‌دهیم. هدف ما این است که اطمینان حاصل کنیم شما از خرید خود راضی هستید.
    </p>
    <h2>شرایط بازگشت کالا</h2>
    <br />

    <p>
        شما می‌توانید کالاهای خریداری شده را در صورتی که شرایط زیر را داشته باشند، به سایت بازگردانید:
        <ul>
            <li>کالا باید در وضعیت اصلی و بدون استفاده باشد.</li>
            <li>کالا باید در بسته‌بندی اصلی و بدون آسیب به آن بازگشت داده شود.</li>
            <li>درخواست بازگشت کالا باید حداکثر تا 7 روز پس از دریافت کالا ارسال شود.</li>
        </ul>
    </p>
    <br />
    <h2>مراحل بازگشت کالا</h2>
    <br />

    <p>
        برای بازگشت کالا، لطفاً مراحل زیر را دنبال کنید:
        <ol>
            <li>تماس با تیم پشتیبانی از طریق فرم "تماس با ما".</li>
            <li>ارائه اطلاعات مربوط به کالا و دلایل بازگشت آن.</li>
            <li>دریافت تاییدیه از تیم پشتیبانی و ارسال کالا به آدرس مشخص شده.</li>
        </ol>
    </p>
    <br />
    <h2>هزینه بازگشت کالا</h2>
    <br />

    <p>
        هزینه بازگشت کالا در صورتی که مشکل از جانب ما باشد، رایگان است. در غیر این صورت، هزینه ارسال بازگشت به عهده مشتری خواهد بود.
    </p>
    <br />
    <h2>کالاهای غیرقابل بازگشت</h2>
    <br />

    <p>
        برخی کالاها به دلایل بهداشتی یا قانونی قابل بازگشت نیستند، از جمله:
        <ul>
            <li>محصولات بهداشتی و آرایشی.</li>
            <li>کالاهای دارای آسیب فیزیکی یا بسته‌بندی باز شده.</li>
        </ul>
    </p>
    <br />
    <h2>تغییرات در شرایط بازگشت کالا</h2>
    <br />

    <p>
        ممکن است این شرایط در آینده تغییر کند. هرگونه تغییرات در این صفحه به اطلاع شما خواهد رسید.
    </p>
</div>
</body>
<br />
<br />