@{
    ViewData["Title"] = "گزارش خرابی";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
    <div>
        <h1>گزارش خرابی</h1>
        <br />
        <br />
        <p>
            در این صفحه، شما می‌توانید خرابی‌ها و مشکلات موجود در سایت یا محصولات ما را گزارش دهید. هدف ما این است که به سرعت مشکلات را شناسایی و رفع کنیم تا تجربه بهتری برای شما فراهم شود.
        </p>
        <h2>چگونه خرابی‌ها را گزارش دهیم؟</h2>
        <br />

        <p>
            برای گزارش خرابی، لطفاً اطلاعات دقیق و کاملی در مورد مشکل خود ارائه دهید. مراحل زیر را دنبال کنید:
            <ol>
                <li>شرح دقیق مشکل یا خرابی را بنویسید.</li>
                <li>در صورت امکان، اسکرین‌شات یا ویدیو از مشکل ارسال کنید.</li>
                <li>اطلاعات تماس خود را برای پیگیری وارد کنید.</li>
            </ol>
        </p>
        <br />
        <h2>محصولات خراب یا معیوب</h2>
        <br />

        <p>
            اگر محصولی که خریداری کرده‌اید خراب یا معیوب است، لطفاً طبق مراحل زیر اقدام کنید:
            <ol>
                <li>محصول معیوب را در بسته‌بندی اصلی آن نگه دارید.</li>
                <li>توضیحات کامل در مورد مشکل محصول بنویسید.</li>
                <li>محصول را به آدرس مشخص شده ارسال کنید.</li>
            </ol>
        </p>
        <br />
        <h2>اطلاعات لازم برای گزارش خرابی</h2>
        <br />

        <p>
            برای گزارش خرابی، اطلاعات زیر را آماده کنید:
            <ul>
                <li>شرح دقیق خرابی یا مشکل.</li>
                <li>محصول یا خدمات مرتبط با مشکل.</li>
                <li>تاریخ و زمان وقوع مشکل.</li>
                <li>اطلاعات تماس (شماره تلفن یا ایمیل).</li>
            </ul>
        </p>
        <br />
        <h2>تیم پشتیبانی ما</h2>
        <br />

        <p>
            تیم پشتیبانی ما به سرعت به گزارش‌های شما پاسخ خواهد داد و اقدامات لازم را برای رفع خرابی انجام خواهد داد. لطفاً برای گزارش خرابی با ما تماس بگیرید.
        </p>
        <br />
        <h2>تغییرات در گزارش خرابی</h2>
        <br />

        <p>
            ممکن است این صفحه یا شرایط گزارش خرابی در آینده تغییر کند. هرگونه تغییرات در این صفحه به اطلاع شما خواهد رسید.
        </p>
    </div>
</body>
<br />
<br />
