@{
    ViewData["Title"] = "قوانین و مقررات";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
<div>
    <h1>قوانین و مقررات</h1>
    <br />
    <br />
    <p>
        این صفحه به معرفی قوانین و مقررات سایت ما می‌پردازد. با استفاده از این سایت، شما موافقت خود را با شرایط زیر اعلام می‌کنید.
    </p>
    <h2>استفاده از خدمات</h2>
    <br />

    <p>
        شما باید در هنگام استفاده از خدمات سایت، از رفتارهای قانونی و اخلاقی پیروی کنید. استفاده از سایت برای هرگونه فعالیت غیرقانونی یا مخرب ممنوع است.
    </p>
    <br />
    <h2>حقوق مالکیت معنوی</h2>
    <br />

    <p>
        تمامی محتواهای موجود در سایت، از جمله متون، تصاویر، ویدیوها و طراحی‌ها، تحت مالکیت قانونی سایت یا دارندگان حقوق مربوطه است و هرگونه استفاده بدون مجوز ممنوع است.
    </p>
    <br />
    <h2>محدودیت‌های مسئولیت</h2>
    <br />

    <p>
        ما هیچ‌گونه مسئولیتی در قبال مشکلات فنی یا خسارات ناشی از استفاده از سایت نمی‌پذیریم. کاربران باید اطمینان حاصل کنند که از سایت به درستی استفاده می‌کنند.
    </p>
    <br />
    <h2>حریم خصوصی</h2>
    <br />

    <p>
        برای اطلاعات بیشتر در مورد نحوه جمع‌آوری و استفاده از داده‌های شما، لطفاً صفحه "حریم خصوصی" را مطالعه کنید.
    </p>
    <br />
    <h2>تغییرات در قوانین و مقررات</h2>
    <br />

    <p>
        ممکن است این قوانین و مقررات در آینده تغییر کند. هرگونه تغییرات در این صفحه به اطلاع شما خواهد رسید.
    </p>
</div>
</body>
<br />
<br />