@{
    ViewData["Title"] = "شرایط فروشندگی";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
    <div>
        <h1>شرایط فروشندگی</h1>
        <br />
        <br />
        <p>
            در این صفحه، اطلاعاتی در مورد شرایط و ضوابط فروشندگی در سایت ما ارائه می‌دهیم. اگر قصد دارید محصولات خود را در پلتفرم ما به فروش برسانید، لطفاً شرایط فروشندگی را به دقت مطالعه کرده و رعایت کنید.
        </p>
        <h2>چگونه فروشنده شویم؟</h2>
        <br />

        <p>
            برای فروشندگی در سایت ما، ابتدا باید به عنوان فروشنده ثبت‌نام کنید. پس از تکمیل فرایند ثبت‌نام و تایید هویت، شما می‌توانید محصولات خود را بارگذاری کرده و شروع به فروش کنید.
        </p>
        <br />
        <h2>شرایط لازم برای فروشندگان</h2>
        <br />

        <p>
            برای اینکه بتوانید محصولات خود را در سایت ما بفروشید، باید شرایط زیر را داشته باشید:
            <ul>
                <li>محصولات شما باید مطابق با قوانین کشور و اصول اخلاقی سایت باشند.</li>
                <li>شما باید اطلاعات تماس دقیق و معتبر برای ارتباط با مشتریان ارائه دهید.</li>
                <li>محصولات شما باید از کیفیت مناسبی برخوردار بوده و استانداردهای سایت را رعایت کنند.</li>
            </ul>
        </p>
        <br />
        <h2>فرایند فروش</h2>
        <br />

        <p>
            فرایند فروش در سایت به شرح زیر است:
            <ol>
                <li>ثبت‌نام به عنوان فروشنده و تکمیل اطلاعات مورد نیاز.</li>
                <li>بارگذاری اطلاعات محصول (شامل تصاویر، توضیحات و قیمت).</li>
                <li>تایید محصول توسط تیم ما و قرار گرفتن محصول در فروشگاه آنلاین.</li>
                <li>پس از فروش، فروشنده باید محصول را در زمان مشخص به مشتری ارسال کند.</li>
            </ol>
        </p>
        <br />
        <h2>هزینه‌های فروشندگی</h2>
        <br />

        <p>
            فروشندگان باید از هزینه‌های مرتبط با فروشندگی آگاه باشند. این هزینه‌ها ممکن است شامل کمیسیون فروش، هزینه ارسال و سایر هزینه‌های مرتبط باشد. جزئیات دقیق هزینه‌ها به شما اعلام خواهد شد.
        </p>
        <br />
        <h2>حمایت و پشتیبانی</h2>
        <br />

        <p>
            ما برای فروشندگان خود پشتیبانی و خدمات مختلفی ارائه می‌دهیم. در صورت بروز هرگونه مشکل یا نیاز به راهنمایی، تیم پشتیبانی ما آماده پاسخگویی به سوالات شما است.
        </p>
        <br />
        <h2>تغییرات در شرایط فروشندگی</h2>
        <br />

        <p>
            ممکن است شرایط فروشندگی در آینده تغییر کند. هرگونه تغییرات در این صفحه به اطلاع شما خواهد رسید.
        </p>
    </div>
</body>
<br />
<br />
