@{
    ViewData["Title"] = "انتقادات و پیشنهادات";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
    <div>
        <h1>انتقادات و پیشنهادات</h1>
        <br />
        <br />
        <p>
            در این صفحه، شما می‌توانید انتقادات و پیشنهادات خود را با ما در میان بگذارید. هدف ما این است که خدمات خود را بهبود بخشیم و تجربه بهتری برای شما فراهم کنیم.
        </p>
        <h2>چگونه انتقادات و پیشنهادات خود را ارسال کنیم؟</h2>
        <br />

        <p>
            برای ارسال انتقادات و پیشنهادات خود، لطفاً اطلاعات دقیق و کاملی در مورد موضوع مورد نظر ارائه دهید. مراحل زیر را دنبال کنید:
            <ol>
                <li>شرح دقیق انتقاد یا پیشنهاد خود را بنویسید.</li>
                <li>در صورت نیاز، توضیحات اضافی یا مثال‌هایی از تجربه خود اضافه کنید.</li>
                <li>اطلاعات تماس خود را برای پیگیری وارد کنید.</li>
            </ol>
        </p>
        <br />
        <h2>هدف ما از دریافت انتقادات و پیشنهادات</h2>
        <br />

        <p>
            ما از انتقادات و پیشنهادات شما برای بهبود کیفیت خدمات و محصولات خود استفاده خواهیم کرد. هدف ما این است که نیازها و خواسته‌های شما را بهتر درک کنیم و در جهت رفع آن‌ها گام برداریم.
        </p>
        <br />
        <h2>اطلاعات لازم برای ارسال انتقادات و پیشنهادات</h2>
        <br />

        <p>
            برای ارسال انتقاد یا پیشنهاد، اطلاعات زیر را آماده کنید:
            <ul>
                <li>شرح دقیق انتقاد یا پیشنهاد.</li>
                <li>محصول یا خدمات مرتبط با انتقاد یا پیشنهاد.</li>
                <li>تاریخ و زمان تجربه شما.</li>
                <li>اطلاعات تماس (شماره تلفن یا ایمیل).</li>
            </ul>
        </p>
        <br />
        <h2>پاسخ به انتقادات و پیشنهادات</h2>
        <br />

        <p>
            تیم پشتیبانی ما به تمامی انتقادات و پیشنهادات شما پاسخ خواهد داد و در صورت لزوم اقدامات لازم را برای بهبود وضعیت انجام خواهد داد.
        </p>
        <br />
        <h2>تغییرات در سیاست انتقادات و پیشنهادات</h2>
        <br />

        <p>
            ممکن است این صفحه یا شرایط ارسال انتقادات و پیشنهادات در آینده تغییر کند. هرگونه تغییرات در این صفحه به اطلاع شما خواهد رسید.
        </p>
    </div>
</body>
<br />
<br />
