@{
    ViewData["Title"] = "تایید صلاحیت فروشندگی";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
    <div>
        <h1>تایید صلاحیت فروشندگی</h1>
        <br />
        <br />
        <p>
            این صفحه اطلاعاتی در مورد فرایند تایید صلاحیت فروشندگی در سایت ما را ارائه می‌دهد. برای اینکه بتوانید به عنوان فروشنده در پلتفرم ما فعالیت کنید، لازم است که ابتدا صلاحیت شما تایید شود.
        </p>
        <h2>فرایند تایید صلاحیت فروشندگی</h2>
        <br />

        <p>
            برای تایید صلاحیت فروشندگی، شما باید مراحل زیر را دنبال کنید:
            <ol>
                <li>ثبت‌نام در سایت به عنوان فروشنده و تکمیل اطلاعات هویتی و شغلی.</li>
                <li>بارگذاری مدارک مورد نیاز برای تایید هویت و صلاحیت فروشندگی.</li>
                <li>بررسی مدارک توسط تیم تایید صلاحیت و ارزیابی اطلاعات.</li>
                <li>در صورت تایید صلاحیت، شما به عنوان فروشنده در پلتفرم ما پذیرفته خواهید شد.</li>
            </ol>
        </p>
        <br />
        <h2>مدارک مورد نیاز برای تایید صلاحیت</h2>
        <br />

        <p>
            برای تایید صلاحیت، شما باید مدارک زیر را ارائه دهید:
            <ul>
                <li>کپی کارت ملی یا شناسنامه.</li>
                <li>کپی مدارک شغلی (مانند جواز کسب یا گواهی فعالیت تجاری).</li>
                <li>اطلاعات تماس معتبر (شماره تلفن و ایمیل). </li>
            </ul>
        </p>
        <br />
        <h2>معیارهای تایید صلاحیت</h2>
        <br />

        <p>
            تیم ما برای تایید صلاحیت فروشندگی، معیارهای زیر را بررسی خواهد کرد:
            <ul>
                <li>اطلاعات هویتی و شغلی دقیق و معتبر.</li>
                <li>سابقه شغلی و فعالیت‌های تجاری.</li>
                <li>رعایت قوانین و مقررات کشور و پلتفرم ما.</li>
            </ul>
        </p>
        <br />
        <h2>اعلام نتیجه تایید صلاحیت</h2>
        <br />

        <p>
            پس از بررسی مدارک و اطلاعات شما، نتیجه تایید صلاحیت به شما اعلام خواهد شد. در صورت تایید، شما به عنوان فروشنده در سایت فعال خواهید شد و می‌توانید محصولات خود را بارگذاری کنید.
        </p>
        <br />
        <h2>پشتیبانی و کمک</h2>
        <br />

        <p>
            در صورت نیاز به کمک یا داشتن سوالات بیشتر در مورد فرایند تایید صلاحیت، تیم پشتیبانی ما آماده پاسخگویی به شما است. شما می‌توانید با تیم ما تماس بگیرید و از مشاوره و راهنمایی‌های لازم بهره‌مند شوید.
        </p>
        <br />
        <h2>تغییرات در فرایند تایید صلاحیت</h2>
        <br />

        <p>
            ممکن است این فرایند در آینده تغییراتی داشته باشد. در صورت هرگونه تغییر، اطلاعات جدید به شما اعلام خواهد شد.
        </p>
    </div>
</body>
<br />
<br />
