@{
    ViewData["Title"] = "خدمات پس از فروش";
}
<partial name="_partialBreadcrumb" />
<br />
<br />
<body>
    <div>
        <h1>خدمات پس از فروش</h1>
        <br />
        <br />
        <p>
            در این صفحه، شما می‌توانید اطلاعاتی در مورد خدمات پس از فروش که برای محصولات خریداری شده از ما ارائه می‌شود، دریافت کنید. هدف ما این است که پس از خرید، اطمینان حاصل کنیم که تجربه شما از محصول همچنان رضایت‌بخش باقی می‌ماند.
        </p>
        <h2>چه خدماتی پس از فروش ارائه می‌شود؟</h2>
        <br />

        <p>
            ما خدمات پس از فروش مختلفی را برای مشتریان خود فراهم کرده‌ایم که شامل موارد زیر می‌شود:
            <ul>
                <li>گارانتی و خدمات تعمیرات.</li>
                <li>پشتیبانی فنی و مشاوره استفاده از محصول.</li>
                <li>تعویض یا بازگشت کالا در صورت خرابی یا عدم تطابق با مشخصات.</li>
            </ul>
        </p>
        <br />
        <h2>گارانتی و تعمیرات</h2>
        <br />

        <p>
            تمام محصولات ما دارای گارانتی مشخص هستند که شامل تعمیرات یا تعویض محصول در صورت خرابی یا نقص در عملکرد می‌شود. برای استفاده از خدمات گارانتی، لطفاً محصول معیوب را به همراه فاکتور خرید و اطلاعات تماس خود ارسال کنید.
        </p>
        <br />
        <h2>پشتیبانی فنی و مشاوره</h2>
        <br />

        <p>
            اگر در استفاده از محصول به مشکلی برخوردید، تیم پشتیبانی فنی ما آماده است تا به شما کمک کند. شما می‌توانید از مشاوره‌های فنی و راهنمایی‌های دقیق برای استفاده بهتر از محصول خود بهره‌مند شوید.
        </p>
        <br />
        <h2>تعویض و بازگشت کالا</h2>
        <br />

        <p>
            در صورتی که محصول خریداری شده به هر دلیلی معیوب یا با آنچه که انتظار داشتید مطابقت ندارد، شما می‌توانید درخواست تعویض یا بازگشت کالا بدهید. برای این منظور، کافی است محصول را در بسته‌بندی اصلی خود همراه با فاکتور خرید به آدرس مربوطه ارسال کنید.
        </p>
        <br />
        <h2>نحوه ثبت درخواست خدمات پس از فروش</h2>
        <br />

        <p>
            برای استفاده از خدمات پس از فروش، لطفاً مراحل زیر را دنبال کنید:
            <ol>
                <li>وارد حساب کاربری خود در سایت شوید.</li>
                <li>در بخش "خدمات پس از فروش"، درخواست خود را ثبت کنید.</li>
                <li>اطلاعات مورد نیاز مانند شماره سفارش، شرح مشکل یا دلیل درخواست را وارد کنید.</li>
                <li>منتظر تایید درخواست و دریافت دستورالعمل‌های بعدی از تیم پشتیبانی باشید.</li>
            </ol>
        </p>
        <br />
        <h2>پشتیبانی مشتریان</h2>
        <br />

        <p>
            اگر سوالی دارید یا به کمک نیاز دارید، تیم پشتیبانی ما آماده است تا به شما پاسخ دهد. شما می‌توانید از طریق تلفن، ایمیل یا چت آنلاین با ما تماس بگیرید.
        </p>
        <br />
        <h2>تغییرات در خدمات پس از فروش</h2>
        <br />

        <p>
            ممکن است این خدمات در آینده تغییراتی داشته باشد. در صورت هرگونه تغییر در این خدمات، ما شما را از طریق ایمیل یا پیام در سایت مطلع خواهیم کرد.
        </p>
    </div>
</body>
<br />
<br />
